@charset "UTF-8";
h1 {
  width: 300px;
  margin: 40px auto;
  padding: 30px;
  border: 5px solid #95dbbd;
  background-color: #6fbb9a;
  color: #fff;
  font-size: 300%;
  text-align: center;
  line-height: 1;
  border-radius: 50%;
  text-shadow: 1px 1px 2px #307657;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-image: linear-gradient(to bottom, #6fbb9a, #4a9d79);
  font-family: 'Limelight', cursive;
}
   body{
   background-color:#fbf9cc;
   }

.entryBtns{

	text-align : center
}

.output{
	text-align : center;
	color:#00ff00;
   background-color:#ffffff;
}

a{
	color: #00ffff
}
a:hover{
	color:#ff0080
	text-decoration: none;
}

.gantt .bar-progress {
    fill: #ff6060;
    /* ↑ 進行度のバーの色替え */
}

/* 今日のバーのスタイル */
.gantt .today-highlight {
  fill: #0000ff;
}

/* タスクのラベルのスタイル */
.gantt .bar-label {
  font-weight: bold;
}
