<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<link th:href="@{/css/donestyle.css}" rel="stylesheet"/>
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
<link rel="stylesheet" href="css/stylesheet.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>
    <h1>WorkDays</h1>
        <h2>利用が禁止されているユーザーです</h2>
    <p><a href="/">ログイン画面へ</a></p>

    <div id="idp_section_buttons" class="mb24">
       
        <button>ボタン</button>
        <input type="text" id="s" class="time"value="aa">

                       
</body>
</html>

<script>
    
    
    
    $(function(){
      
      // 値が更新されたときの処理
      
      $('input').change(function(){
        
        $.ajax({
          url: "/testlocal",
          type: "GET",
          data: {

          }
        }).done(function (result) {

        }).
        fail(function () {

        })
        .always(function (result) {

        });
      });
      
     
    });
    
    $(function(){
    $('button').click(function(){
        
        $.ajax({
          url: "/testawsajax",
          type: "GET",
          data: {

          }
        }).done(function (result) {

        }).
        fail(function () {

        })
        .always(function (result) {

        });
      });
    }); 
    
    </script> 