<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>boxにダウンロード</title>
<link rel="stylesheet" href="css/stylesheet.css">
<link th:href="@{/css/donestyle.css}" rel="stylesheet"/>
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
<h1>勤怠表をダウンロードします</h1>


<form th:action="@{/boxDownload}">
  <input type="submit" value="boxにログイン" class="button">
</form>

<p><a href="https://account.box.com/api/oauth2/authorize?client_id=4u7hb7ffjwrpl9k1ojfsf09g58eyqwt6&response_type=code" class="button">box</a></p>
<p>[[${error}]]</p>

<p><a href="/logout">ログアウト</a></p>
</body>
</html>

<style>
  
      .fileName{
        margin-top: 50px;
      }
    a {
        display: block;
        margin-top: 40px;
        text-decoration: none;
        font-weight: bold;
    }

      
</style>