<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<link rel="stylesheet" href="css/stylesheet.css">
<link th:href="@{/css/donestyle.css}" rel="stylesheet"/>
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
<h1>このPCに勤怠表をダウンロードします</h1>
<form th:action="@{/companyselect}" th:object="${users}" >
  
  <div class="fileName">
    <div th:each="idUser, st:${idUserList}">
      <div th:if="${idUser.banned==0}">【[[${idUser.companyName}]]】 
        <div style="display: inline-block; _display: inline;" th:unless="${idUser.company1==''}"><input type="radio" name="company" th:value="|${idUser.companyID}:${idUser.company1}|"> [[${idUser.company1}]]</div>
        <div style="display: inline-block; _display: inline;" th:unless="${idUser.company2==''}"><input type="radio" name="company" th:value="|${idUser.companyID}:${idUser.company2}|"> [[${idUser.company2}]]</div>
        <div style="display: inline-block; _display: inline;" th:unless="${idUser.company3==''}"><input type="radio" name="company" th:value="|${idUser.companyID}:${idUser.company3}|"> [[${idUser.company3}]]</div>
      </div>
    </div>
    <input type="submit" class="button_blue" value="選択">
  </div>


<p><a href="/logout">ログアウト</a></p>
</body>
</html>

<style>
  body {
    margin: 0;
    background-color: #f5f6fd;
  }
  .button_blue {
    margin-top: 20px;
    padding: 5px;
  }
  .fileName{
    margin-top: 50px;
  }
  a {
    display: block;
    margin-top: 40px;
  }
      
</style>