<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録確認</title>
<link th:href="@{/css/confirmstyle.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>

  <h1>登録情報確認</h1>

  <table class="entryTable" border="1">
  

  <tr>
    <th>メールアドレス </th>
    <td>[[${superUser.email}]]</td>
  </tr>

  <tr>
     <th>パスワード </th>
     <td>[[${superUser.pass}]]</td>
  </tr>

  
 <tr>
  <th>会社ID </th>
  <td>[[${superUser.companyID}]]</td>
</tr>


</table>

<div class="footer">
  <a href="#" id="back-link" class="button">戻る</a>
  <form  th:action="@{/registsuperuser}" th:object="${superUser}"method="post" >
    <label for="name"></label>
    <input type="hidden" th:field="*{email}">
    <input type="hidden" th:field="*{pass}">
    <input type="hidden" th:field="*{companyID}">
    <input type="submit" value="登録" class="button">
  </form>
</div>
</body>

<script>
  const backLink = document.getElementById('back-link');
  backLink.addEventListener('click', () => {
    history.back(-1);
  });
</script>

</html>

<style>

  th {
    color: black;
    background-color: #CCCCFF;
  }

  .entryTable {
    border: 0px none;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
  }

  .footer {
    display:flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
  }
</style>