<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録確認</title>
<link th:href="@{/css/confirmstyle.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
<h1>会員情報確認</h1>
  <table class="entryTable" border="1">

  <tr>
    <th>管理番号 </th>
    <td>[[${idData.number}]] </td>
  </tr>

  <tr>
    <th>氏名 </th>
    <td>[[${idData.name}]] </td>
  </tr>

  <tr>
    <th>メールアドレス </th>
    <td>[[${idData.mail}]]</td>
  </tr>

  <tr>
    <th>会社1</th>
    <td>[[${idData.company1}]]</td>
 </tr>

 
 <tr>
  <th>会社2</th>
  <td>[[${idData.company2}]]</td>
</tr>

<tr>
  <th>会社3</th>
  <td>[[${idData.company3}]]</td>
</tr>
 
</table>
<div class="footer">
  <a href="#" id="back-link" class="button">戻る</a>
  <form  th:action="@{/regist}" th:object="${individualData}"method="post" >
    <label for="name"></label>
    <input type="hidden" th:field="*{number}">
    <input type="hidden" th:field="*{name}">
    <input type="hidden" th:field="*{mail}">
    <input type="hidden" th:field="*{company1}">
    <input type="hidden" th:field="*{company2}">
    <input type="hidden" th:field="*{company3}">

    <input type="submit" value="登録" class="button">
  </form>
</div>
</body>

<script>
  const backLink = document.getElementById('back-link');
  backLink.addEventListener('click', () => {
    history.back(-1);
  });
</script>

</html>

<style>
  th {
    text-align: right;
  }
  .entryTable {
    border: 0px none;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
  }

  .footer {
    display:flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
  }
</style>