<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
<title>契約情報画面</title>
</head>

<body>
  <header>
    <h1>契約情報登録</h1>
  </header>

  <main id="contents">
    <form id="entryForm" th:action="@{/confirmcontract}" th:object="${contractData}"method="post" novalidate>
    <table class="entryTable" border="1">

    <tr>
      <th>会社ID</th>
      <td>
        <label for="companyID"></label>
        <input type="number" class="register-control"
        th:errorclass="is-invalid" th:field="*{companyID}">
       <div class="invalid-feedback" th:errors="*{companyID}"></div>
      </td>
    </tr>

    <tr>
      <th>開始予定日</th>
      <td>
        <label for="start_contract"></label>
        <input type="date" class="register-control"
        th:errorclass="is-invalid" th:field="*{startContract}">
        <small th:text="${error1}" class="error"></small>
      </td>
    </tr>

    <tr>
      <th>終了予定日</th>
      <td>
        <label for="end_contract"></label>
        <input type="date" class="register-control"
        th:errorclass="is-invalid" th:field="*{endContract}">
        <small th:text="${error2}" class="error"></small>
      </td>
    </tr>

    <tr>
      <th>登録日</th>
      <td>
        <label for="register"></label>
        <input type="date" class="register-control"
        th:errorclass="is-invalid" th:field="*{register}">
        <small th:text="${error3}" class="error"></small>
      </td>
    </tr>

    

    <tr>
      <th>上限ユーザー数</th>
      <td>
        <label for="limitedUser"></label>
        <input type="number" class="register-control"
        th:errorclass="is-invalid" th:field="*{limitedUser}">
       <div class="invalid-feedback" th:errors="*{limitedUser}"></div>
      </td>
    </tr>

    <tr>
      <th>ランク</th>
      <td>
        <label for="userRank"></label>
        <input type="text" class="register-control"
        th:errorclass="is-invalid" th:field="*{userRank}">
       <div class="invalid-feedback" th:errors="*{userRank}"></div>
      </td>
    </tr>

    
    <tr>
      <th>税抜きの金額 </th>
      <td>
        <label for="taxExclude"></label>
      <input type="number" class="register-control"
      th:errorclass="is-invalid" th:field="*{taxExclude}">
       <div class="invalid-feedback" th:errors="*{taxExclude}"></div>
      
      </td>
    </tr>


    <tr>
      <th>税込みの金額</th>
      <td>
        <label for="taxInclude"></label>
        <input type="number" class="register-control"
        th:errorclass="is-invalid" th:field="*{taxInclude}">
       <div class="invalid-feedback" th:errors="*{taxInclude}"></div>
      </td>
    </tr>

   

  </table>

  <div class="send">
    <input type="reset" value="クリア" class="button">
    <input type="submit" value="登録" class="button">
  </div>
</form>
</main>
  <p><a href="/masteruser">管理画面へ戻る</a></p> 
  <p><a href="/master">ログアウト</a></p>

</body>
</html>

<style>
  .send {
    margin-top: 20px;
  }
  th {
    text-align: right;
  }
  a {
    display: block;
    padding-top: 10px;
  }
</style>