<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ダウンロード</title>
<link rel="stylesheet" href="css/stylesheet.css">
<link th:href="@{/css/donestyle.css}" rel="stylesheet"/>
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
<h1>勤怠表をダウンロードします</h1>
<p th:text="${outputFileName}" class="fileName"></p>

<a th:href="@{${filePath}}" class="button_blue" download> ダウンロード</a>

<p><a href="/logout">ログアウト</a></p>
</body>
</html>

<style>
  h1 {
    font-size: 20px;
  }
  a.button_blue {
    text-decoration: none;
    font-weight: bold;
  }
  a {
    display: inline-block;
    margin-top: 40px;
  }    
</style>