<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>祝日一括アップロード</title>
<link th:href="@{/css/confirmstyle.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
    <h1>祝日一括アップロード</h1>

    <h3>アップロードするファイルを以下の点に注意して指定してください</h3>

    <div class="caution">
        <p>※csvファイル形式でカンマ区切りであること</p>
        <p>※ヘッダーとして１列目に以下が全角で記入されていること</p>
        <p>年,月,日,祝日名</p>
       
    </div>
    
    <form th:action="@{/uploadholiday}" method="POST" action="upload" enctype="multipart/form-data" class="upform">
        <input type="file" name="file" class="button">
        <br>
        <p class="error">[[${error}]]</p>
       
    
        <button type="submit" class="button">アップロード</button>
    </form>

    <div class="tab">
        <p><a href="/holiday">祝日設定へ戻る</a></p>
        <p><a href="/masteruser">管理画面へ戻る</a></p>
        <p><a href="/">ログアウト</a></p>
    </div>

</body>
</html>

<style>

       .caution {
          display: inline-block;
          text-align: left;
      }
    .error {
        color: blue;
        font-weight: bold;
    }
    table {
        margin: 0 auto;
        color: blue;
    }
    .example {
        padding-left: 100px;
    }
    .tab {
        margin-top: 50px;
    }

</style>