<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
<title>祝日の変更</title>
</head>

<body>
  <header>
    <h1>祝日の変更</h1>
  </header>

  <main id="contents">
    <form id="entryForm" th:action="@{/holidayregister}" th:object="${oneholiday}" method="post" novalidate>
    <table class="entryTable" border="1">

      <tr> 
        <th>年</th>
        <td>[[${oneholiday.year}]]年</td>
       </tr>

        <tr> 
        <th>月</th>
        <td>
          <label for="number"></label>
          <input type="number" class="register-control" style="width:50px;"
            th:errorclass="is-invalid" th:field="*{month}" th:value="${oneholiday.month}" >
          <div class="invalid-feedback" th:errors="*{month}"></div>月
        
          <label for="number"></label>
          <input type="number" class="register-control" style="width:50px;"
            th:errorclass="is-invalid" th:field="*{day}" th:value="${oneholiday.day}" >
          <div class="invalid-feedback" th:errors="*{day}"></div>日
        </td>
      </tr>
    <tr>
      <th>名称</th>
      <td>
        <label for="lastname"></label>
        <input type="text" class="register-control"
        th:errorclass="is-invalid" th:field="*{name}" th:value="${oneholiday.name}">
       <div class="invalid-feedback" th:errors="*{name}"></div>
      </td>
    </tr>
    

  </table>
  <input type="hidden" th:field="*{id}">
  <input type="hidden" th:field="*{year}">
  <div class="send">
    <input type="reset" value="クリア" class="button">
    <input type="submit" value="登録" class="button">
  </div>
</form>
</main>

  <p><a href="/holidaylist">祝日一覧へ戻る</a></p>
  <p><a href="/master">ログアウト</a></p>

</body>
</html>

<style>

  .entryTable {
    margin: auto;
    margin-top: 20px;
    border: 0px none;
    text-align: center;
  }

  th {
    text-align: center;
    background-color: #CCCCFF;
    color: black;
  }
  
  td {
  padding-left: 10px;
  text-align: left;
  }
  
  .send {
    margin-top: 20px;
  }

  a {
    display: block;
    padding-top: 10px;
  }
</style>