<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<link rel="stylesheet" href="css/stylesheet.css">
<link th:href="@{/css/indexstyle.css}" rel="stylesheet"/>
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
<h1>勤怠表</h1>

<main id="contents">

    <iframe id="iframe"
    title="Inline Frame Example"
    width="500"
    height="400"
    src="https://mki.my.salesforce.com/">
</iframe>
</h2>
</main>
</body>
</html>





