<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="ユーザー情報一覧"></title>
  <script th:src="@{https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="js/mamtimepicker.js"></script>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">

<style>
.tr_color0 {
 vertical-align: middle;
}

.tr_color1 {
  background-color: #EAF6FD;
  vertical-align: middle;
}
.tr_color2 {
  background-color: #fa4d4d;
  vertical-align: middle;
}
.time {
  width: 60px;
  height: 28px;
  border-radius: 5px;
  border: 1px solid rgb(143, 140, 140);
  outline: none;
  background: transparent;
  padding: 5px;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  width: 80%;
  table-layout: fixed;
}

thead th{
  padding: 1em .8em;
  border-right: 5px solid #fff;
  background-color: #eee;
}
table tr {
  background-color: #fff;
  padding: .35em;
}
.output{
  font-size: 13px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.tabs {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

.main {
  max-width: 80%;
  margin: 0 auto;
}

.container {
  background-color: #006AE9;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.button {
  padding: 5px;
}

.box_icon {
  width: 36px;
  height: auto;
}
.folder_icon {
  width: 30px;
  height: auto;
}
p {
  color: #808080;
}
th {
  font-size: 15px;
  font-weight: normal;
}

thead th{
  padding: 1em .8em;
  border-right: 5px solid #fff;
  background-color: #eee;
}
table tr {
  background-color: #fff;
  padding: .35em;
}

</style>

<script>
  function jpn(tbox){
  tbox.style.imeMode="active";
  }
  $(function(){
    
    // 値が更新されたときの処理
    $('input').change(function(){
      var inputvalue = $(this).val();
      var day = $(this).attr('day');
      var name = $(this).attr('name');
      var id=$(this).attr('id');
      var wt=':worktime';
      var st=':start';
      var ed=':end';
      var ht=':halftime';

      //0900表記だったら09:00に修正する
      if(inputvalue.length==4&&inputvalue.indexOf(':')==-1){
        var a = inputvalue.slice(0, 2)
        var b = ':'
        var c = inputvalue.slice(2)
        a=a+b+c
        var inputForm = document.getElementById(id);
        inputForm.value=a
        inputvalue=a
      }
      //9:00表記だった場合09:00に修正する
      if(inputvalue.length==4&&inputvalue.indexOf(':')==1){
        var a = '0'
        inputvalue=a+inputvalue
       
        var inputForm = document.getElementById(id);
        inputForm.value=inputvalue
        
      }
      //900表記だった場合09:00に修正する
      if(inputvalue.length==3){
        var a = '0'
        inputvalue=a+inputvalue
        var b = inputvalue.slice(0, 2)
        var c = ':'
        var d = inputvalue.slice(2)
        inputvalue=b+c+d
        var inputForm = document.getElementById(id);
        inputForm.value=inputvalue
        
      }
      
      var start = document.getElementById(day+st).value;
      var end = document.getElementById(day+ed).value;
      var half = document.getElementById(day+ht).value;
      
      var sth=Number(start.substr(0,2));
      var stm=Number(start.substr(3,2));

      var edh=Number(end.substr(0,2));
      var edm=Number(end.substr(3,2));

      var hfh=Number(half.substr(0,2));
      var hfm=Number(half.substr(3,2));
      
      console.log('h'+hfh);
      console.log('m'+hfm);
      var wtm=(edh-sth-hfh)*60+(edm-stm-hfm);
      console.log('wtm='+wtm);
      var tenhour=Math.floor(wtm/600);
      console.log('th'+tenhour);
		  var hour=Math.floor(wtm%600/60);
      console.log('hour='+hour);
		  var tenminutes=wtm%600%60;
      console.log('tm1='+tenminutes);
      var tenminutes=Math.floor(tenminutes/10);
      console.log('tm2='+tenminutes);
		  var minutes=Math.floor(wtm%600%60%10%10);
      console.log('minutes='+minutes);
		  var time=String(tenhour)+String(hour)+":"+String(tenminutes)+String(minutes);
      
      var resultForm = document.getElementById(day+wt);
      resultForm.value = time;

      
      $.ajax({
        url: "/AjaxServlet",
        type: "POST",
        data: {
          inputvalue : inputvalue,
          day : day,
          name : name
        }
      }).done(function (result) {
        
      }).fail(function () {
        // 通信失敗時のコールバック
        //alert("更新に失敗しました");
      }).always(function (result) {
        // 常に実行する処理
      });
    });
    
  });
  
  </script> 
</head>
<body>
  <div class="container">
    <div th:if="${validationError}" th:each="error : ${validationError}">
      <label class="text-danger" th:text="${error}"></label>
    </div>
    <h1>[[${workingListParam.year}]]年[[${workingListParam.month}]]月勤怠表 </h1>
  </div>


  <div class="main">

  <div class="output">
  <form th:action="@{/yearmonth}" th:object="${yearMonth}" th:method="post">
    <select class="button" name="nowyear" th:field="*{year}">
      <option th:value="${yearMonth.year-1}">[[${yearMonth.year-1}]]年</option>
      <option th:value="${yearMonth.year}" selected>[[${yearMonth.year}]]年</option>
      <option th:value="${yearMonth.year+1}">[[${yearMonth.year+1}]]年</option>
    </select>
    <select class="button" name="nowmonth" th:field="*{month}">
      <div th:unless="${yearMonth.month==1}"><option th:value="1">1月</option></div><div th:if="${yearMonth.month==1}"><option th:value="1" selected>1月</option></div>
      <div th:unless="${yearMonth.month==2}"><option th:value="2">2月</option></div> <div th:if="${yearMonth.month==2}"><option th:value="2" selected>2月</option></div>
      <div th:unless="${yearMonth.month==3}"><option th:value="3">3月</option></div><div th:if="${yearMonth.month==3}"><option th:value="3" selected>3月</option></div>
      <div th:unless="${yearMonth.month==4}"><option th:value="4">4月</option></div><div th:if="${yearMonth.month==4}"><option th:value="4" selected>4月</option></div>
      <div th:unless="${yearMonth.month==5}"><option th:value="5">5月</option></div><div th:if="${yearMonth.month==5}"><option th:value="5" selected>5月</option></div>
      <div th:unless="${yearMonth.month==6}"><option th:value="6">6月</option></div><div th:if="${yearMonth.month==6}"><option th:value="6" selected>6月</option></div>
      <div th:unless="${yearMonth.month==7}"><option th:value="7">7月</option></div><div th:if="${yearMonth.month==7}"><option th:value="7" selected>7月</option></div>
      <div th:unless="${yearMonth.month==8}"><option th:value="8">8月</option></div><div th:if="${yearMonth.month==8}"><option th:value="8" selected>8月</option></div>
      <div th:unless="${yearMonth.month==9}"><option th:value="9">9月</option></div><div th:if="${yearMonth.month==9}"><option th:value="9" selected>9月</option></div>
      <div th:unless="${yearMonth.month==10}"><option th:value="10">10月</option></div><div th:if="${yearMonth.month==10}"><option th:value="10" selected>10月</option></div>
      <div th:unless="${yearMonth.month==11}"><option th:value="11">11月</option></div><div th:if="${yearMonth.month==11}"><option th:value="11" selected>11月</option></div>
      <div th:unless="${yearMonth.month==12}"><option th:value="12">12月</option></div><div th:if="${yearMonth.month==12}"><option th:value="12" selected>12月</option></div>
    </select>
  <input class="button" type="submit" value="変更">
  <small th:if="${error2}">*[[${error2}]]</small>
</form>

  <form th:action="@{/ontime}" th:object="${beanRegularTime}" th:method="post">
      開始 <input type="text" th:field="*{start}" class="time">
      終了 <input type="text"  th:field="*{end}" class="time">
      休憩 <input type="text"  th:field="*{halftime}" class="time">
      <input type="submit" class="button" value="定時">
  </form>

  <a href="/choosetemplatelocal"><img src="img/folder.jpg" class="folder_icon"></a>
  <!-- TODO client_idは必要に応じて変えること -->
  <a href="https://account.box.com/api/oauth2/authorize?client_id=4u7hb7ffjwrpl9k1ojfsf09g58eyqwt6&response_type=code&redirect_uri=https://workdays.jp/boxDownload">
      <img src="img/box_logo.jpg" class="box_icon">
  </a>
  <div th:if="${freeuser==1}"><a href="/filecheck">ファイルの確認・アップロードはこちら</a></div> 
  
</div>


    
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="50px">日</th>
            <th width="50px">曜</th>
            <th>開始時刻</th>
            <th>終了時刻</th>
            <th>休憩時間</th>
            <th>作業時間</th>
            
            <div th:each="otherpa, st : ${opList}" >
              <th>備考[[${st.count}]]( <div th:if="${otherpa.company1==1}">[[${users.company1}]]</div> <div th:if="${otherpa.company2==1}">[[${users.company2}]]</div> <div th:if="${otherpa.company3==1}">[[${users.company3}]]</div> 
              )
              </th>
            </div>
            
            
            
            

          </tr>
        </thead>
        <form th:action="@{/listUpdate}" th:object="${workingListParam}" th:method="post">

          <input type=hidden th:field="${workingListParam.year}">
           <input type=hidden th:field="${workingListParam.month}">
        <tbody>
          <tr th:each="workingday, st : *{workingDataList}" th:classappend="|${workingday.holiday==1?'tr_color2':'tr_color0'} ${workingday.weekday=='土'?'tr_color2':'tr_color0'}  ${workingday.weekday=='日'?'tr_color2':'tr_color0'}|">
            <td>
              <label th:text="${workingday.day}"></label>
              <input type="hidden" th:field="*{workingDataList[__${st.index}__].day}">
            </td>

            <td>
              <label th:text="${workingday.weekday}"></label>
              <input type="hidden" th:field="*{workingDataList[__${st.index}__].weekday}">
            </td>
            <td>
              <input type="text" onclick="this.select()" th:id="|${workingday.day}:start|" th:day="${workingday.day}"  class="mamTimePicker" th:name="start" th:value="${workingday.start}"  >
            </td>
            <td>
              <input type="text" onclick="this.select()"th:id="|${workingday.day}:end|"th:day="${workingday.day}" class="mamTimePicker" th:name="end" th:value="${workingday.end}">
            </td>
            <td>
              <input type="text" onclick="this.select()"th:id="|${workingday.day}:halftime|" th:day="${workingday.day}" class="mamTimePicker" th:name="halftime" th:value="${workingday.halftime}">
            </td>
            <td>
              <input type="text" onclick="this.select()"th:id="|${workingday.day}:worktime|" th:day="${workingday.day}" class="mamTimePicker" th:name="worktime" th:value="${workingday.worktime}">
            </td>
            <td>
              <input type="text" onclick="this.select()" th:id="|${workingday.day}:other1|" th:day="${workingday.day}" class="form-control" th:name="other1" th:value="${workingday.other1}">
            </td>
            <td>
              <input type="text" onclick="this.select()" th:id="|${workingday.day}:other2|" th:day="${workingday.day}" class="form-control" th:name="other2"th:value="${workingday.other2}">
            </td>
            <td>
              <input type="text" onclick="this.select()" th:id="|${workingday.day}:other3|" th:day="${workingday.day}" class="form-control" th:name="other3" th:value="${workingday.other3}" >
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

    <p><a href="/">ログアウト</a></p>
    <!-- <p><a href="/sendmail">メール送信</a></p>
    <p><a href="/beforemonth">先月へ</a></p>
    <p><a href="/nextmonth">来月分へ</a></p>
    <p><a href="/">ログアウト</a></p> -->
       <!-- <p><a href="/Excel">勤怠表のExcel化</a></p>
    <p><a href="/selectFile">テンプレを指定してExcel化</a></p> -->

</body>
</html>