<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<link th:href="@{/css/donestyle.css}" rel="stylesheet"/>
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
<h1>WorkDays</h1>
<h2>仮登録が完了しました。</h2>
<h3>登録されたアドレスに送信されたメールのリンクにアクセスし本登録を完了してください</h3>
<p><a href="/">ログイン画面へ</a></p>
</body>
</html>

<style>
    h2 {
        margin-top: 100px;
    }

    a {
        display: block;
        margin-top: 50px;
    }
</style>