<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>エラー</title>
<link th:href="@{/css/donestyle.css}" rel="stylesheet"/>
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
<h1>勤怠表を出力できませんでした</h1>

<div class="error">
<tr th:each="errors : ${errors}">
  <td th:text="${errors}"></td></tr>
</div>
<p><a href="/logout">ログアウト</a></p>
</body>
</html>

<style>
  h1 {
    font-size: 20px;
  }
    a {
        display: block;
        margin-top: 40px;
        text-decoration: none;
    }
    .error {
      margin-top: 20px;
    }
      
</style>