<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
<title>管理者登録画面</title>
</head>

<body>
  <header>
    <h1>管理者登録</h1>
  </header>

  <main id="contents">
    <form id="entryForm" th:action="@{/confirmsuperuser}" th:object="${superUser}"method="post" >
    <table class="entryTable" border="1">

      <tr>
        <th>会社ID</th>
        <td>
          <label for="companyID"></label>
          <input type="text" th:errorclass="is-invalid" th:field="*{companyID}">
          <div class="invalid-feedback" th:errors="*{companyID}"></div>
        </td>
    </tr>

    <tr>
      <th>メールアドレス</th>
      <td>
        <label for="email"></label>
        <input type="text" th:errorclass="is-invalid" th:field="*{email}">
        <div class="invalid-feedback" th:errors="*{email}"></div>
      </td>
    </tr>
    
    <tr>
      <th>パスワード </th>
      <td>
        <label for="password"></label>
        <input type="text" th:errorclass="is-invalid" th:field="*{pass}">
        <div class="invalid-feedback" th:errors="*{pass}"></div>
       
        <small>※半角英数</small>
      </td>
    </tr>

  </table>
  <div class="send">
    <input type="reset" value="クリア" class="button">
    <input type="submit" value="登録" class="button">
  </div>
</form>
</main>

  <p><a href="/masteruser">管理画面へ戻る</a></p>
  <p><a href="/master">ログアウト</a></p>

</body>
</html>

<style>


  .entryTable {
    margin: auto;
    margin-top: 20px;
    border: 0px none;
    text-align: center;
  }

  th {
    background-color: #CCCCFF;
    color: black;
  }
  
  td {
  padding-left: 10px;
  text-align: left;
  }
  
  .send {
    margin-top: 20px;
  }

  a {
    display: block;
    padding-top: 10px;
  }
</style>