<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/stylesheet.css">
<title>登録成功</title>
<link th:href="@{/css/donestyle.css}" rel="stylesheet"/>
</head>
<body>
<h2>ユーザー情報の登録が完了しました</h2>
<p><a href="/">ログイン画面へ</a></p>
</body>
</html>

<style>
    body {
        font-family: sans-serif;
        margin: center;
        text-align: center;
    }

    h2 {
        margin-top: 100px;
    }

    a {
        display: block;
        margin-top: 50px;
    }
</style>