<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/stylesheet.css">
<title>メール送信完了</title>
<link th:href="@{/css/donestyle.css}" rel="stylesheet"/>
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
    <h1>WorkDays</h1>
    <h2>メールの送信が完了しました</h2>
    <p><a href="/userlist">ユーザー一覧へ</a></p>
</body>
</html>

<style>
    h2 {
        margin-top: 100px;
    }

    a {
        display: block;
        margin-top: 50px;
    }
</style>