<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

  <h1>管理者画面</h1>

  <main id="contents">
    <h3>
      
      <p><a href="/register">ユーザー登録</a></p>
      <p><a href="/userlist">ユーザー一覧</a></p>
      <p><a href="/templateupload">ファイルアップロード</a></p>
      <p><a href="/templatelist">ファイル一覧</a></p>
      <p><a href="/alluserupload">ユーザー一括アップロード</a></p>
      <p><a href="/">ログアウト</a></p>
    </h3>

</main>
</body>
</html>

<style>
  h1 {
    border-bottom: solid 3px skyblue;
    margin-top: 30px;
    position: relative;
  }
  
  h1:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #ffc778;
    bottom: -3px;
    width: 30%;
  }
  
  body {
    font-family: sans-serif;
    text-align: center;
  }

  a {
    display: block;
    margin-top: 50px;
  }
  


</style>