<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ファイルアップロード</title>
<link th:href="@{/css/confirmstyle.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
    
    <h1>テンプレートファイルをアップロード</h1>
    <h3>アップロードするファイルを以下の点に注意して指定してください</h3>

    <div class="caution">
    <p>※ファイルのセルやシートが保護されていない状態であること</p>
    <p>※ファイル名が 提出先会社名.xls になっていること</p>
    <p>※ファイルに入力した値が以下の規則に基づいていること</p>
    <p>※アルファベットは小文字で記載し、続く数字は日付と同じであること</p>
   
    <div class="tags">
    <ul>
        <li type="disc">曜日 [wd1] </li>        
    </ul>
    
    <ul>
        <li type="disc">開始時間 [sth1], 分 [stm1])</li>
        <li type="disc">終了時間 [edh1], 分 [edm1])</li>
        <li type="disc">休憩時間 [lth1], 分 [ltm1])</li>
        <li type="disc">就業時間 [tth1], 分 [ttm1])</li>
    </ul>
    <ul>
        <li type="disc">備考1 [oa1]</li>
        <li type="disc">備考2 [ob1]</li>
        <li type="disc">備考3 [oc1]</li>
    </ul>
    <ul>
        <li type="disc">管理番号 [ID]</li>
        <li type="disc">名前 [NAME]</li>
        <li type="disc">メールアドレス [MAIL]</li>
        <li type="disc">年 [YEAR]</li>
        <li type="disc">月 [MONTH]</li>
    </ul>
    </div>
    </div>
    
    <p>例）４日の就業時間を(00:00)表記で記入する場合 [tth4]:[ttm4]</p>        
    
    
    <form th:action="@{/uploadFile}" method="POST" action="upload" enctype="multipart/form-data">
        <input type="file" name="file" class="button">
        <br>
        <p class="error">[[${error}]]</p>
        <button type="submit" class="button">アップロード</button>
    </form>

    

    <div class="tab">
        <p th:if="${free==0}"><a href="/superuser">管理画面へ戻る</a></p>
        <p th:if="${free==1}"><a href="/list">勤怠画面へ戻る</a></p>
        <p ><a href="/">ログアウト</a></p>
    </div>

</body>
</html>

<style>
    h1{
        font-size: 20px;
    }
    .caution {
          display: inline-block;
          text-align: left;
      }

    .tags {
          display: flex;
          justify-content: center;
          
      }
    .error {
        color: blue;
        font-weight: bold;
    }
    .example {
        padding-left: 100px;
    }

    .tab {
        margin-top: 50px;
    }

</style>