<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
<title>ダウンロードファイル一覧</title>
</head>
<body>

    <h1>WorkDaysテンプレートファイル一覧</h1>
   
    <table>
        <tr>
            <th>ファイル名</th>
            <th> </th>
            <th> </th>
        </tr>
        
        <div class="data"> 
        <tr th:each="fileName, fileNameSt : ${fileName}">            
        <form th:action="@{/filedelete}">
            <input type="hidden" name="deleteFileName" th:value="${fileName}">
            <input type="hidden" name="box" value="box">      
            <td th:text="${fileName}"></td>
            <td><input type="submit" value="削除"></td>
        </form> 
    
        <form th:action="@{/templatefiledownload}">
            <input type="hidden" name="fileName" th:value="${fileName}">       
            <td><input type="submit" value="boxへダウンロード"></td>
        </form>
    </tr>
    </div>
    </table>

    <p th:text="${error}"></p>

   

    <div class="tab">
        <p><a href="/superuser">管理画面へ戻る</a></p>
        <p><a href="/">ログアウト</a></p>
    </div>

</body>
</html>

<style>
      table {
          margin: 0px auto;
          margin-top: 10px;
      }

      td, th {
          text-align: left;
      }

      th {
          border-bottom: dashed 2px #6594e0;
      }

      td {
          padding-top: 30px;
          padding-left: 10px;
      }
      
    .tab {
        margin-top: 50px;
    }

    .data {
        display: inline;
    }

</style>