<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<link rel="stylesheet" href="css/stylesheet.css">
<link th:href="@{/css/donestyle.css}" rel="stylesheet"/>
<link rel="icon" type="image/png" href="img/workdays_fc.png" id="favicon">
</head>
<body>
<h1>ファイル操作する方法を選択してください</h1>

<div class="main">
  <a th:href="@{${localPath}}" class="button">ローカルのファイル<br>を操作する</a>
  
  <a th:href="@{${boxPath}}" class="button">boxのファイルを<br>操作する</a>

  <div class="tabs">
    <p><a href="/logout">ログアウト</a></p>
  </div>
</div>

</body>
</html>

<style>
  body {
    margin: 0;
    background-color: #f5f6fd;
  }
  h1{
    font-size: 20px;
    margin: 0;
  }
  a{
    font-size: 15px;
  }
  .button {
    margin: 30px;
    display: inline-block;
  }
  a.button {
    text-decoration: none;
    font-weight: bold;
  }
  .tabs{
    display: block;
    margin-top: 40px;      
  }
      
</style>